.home {
  .projects {
    background-color: $green-100;
    padding-top: VW(10);
    margin-top: VW(10);

    &-list {
      margin-top: VW(200);

      .card {
        display: flex;
        justify-content: space-between;
        position: relative;
        gap: VW(20);
        padding: VW(20) 0;
        border-bottom: VW(1) solid $c-black;

        &__content {
          position: sticky;
          top: VW(60);
          width: 100%;
          height: fit-content;
        }

        .categories {
          display: flex;
          gap: .4em;
          margin-bottom: .4em;

          &__item {
            padding: .45em .6em .3em;
            background-color: #00000010;
            border-radius: 10vw;

            &--black {
              background-color: $c-black;
              color: $green-100;
            }
          }
        }

        .about {
          display: flex;
          justify-content: space-between;
          gap: VW(20);
          margin-top: VW(70);

          &-item {
            &:nth-of-type(1) {
              width: VW(300);
            }

            &__icon {
              display: inline-block;
              width: VW(12);
              height: VW(12);
              margin-right: 0.1em;
              background: no-repeat center/contain;

              &--area-from {
                background-image: url("/images/home/projects/icons/area-icon.svg");
              }

              &--bedrooms-from {
                background-image: url("/images/home/projects/icons/bed-icon.svg");
              }

              &--energy-efficiency {
                background-image: url("/images/home/projects/icons/energy-icon.svg");
              }
            }
          }
        }

        .bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: VW(10);
          padding-top: VW(20);
          border-top: VW(1) solid $c-black;
          &__button {
            width: VW(310);
          }
        }

        &__content {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: VW(10);

          &-item {
            width: 100%;
          }
        }
      }
    }

    &-bottom {
      padding: VW(20) 0;
      display: flex;
      justify-content: space-between;
    }
  }
}
