.aviability {
  padding-top: VW(140);
  background-color: $g-10;
  .table {
    margin-top: VW(60);
    &-grid {
      display: grid;
      grid-template-columns: VW(150) VW(550) VW(150) VW(150) VW(150) VW(150) VW(
          150
        );
    }

    &-header {
      padding: VW(10) 0 VW(8);
      border-bottom: $g-50 VW(1) solid;
      position: sticky;
      top: VW(45);
      z-index: 10;

      &::after {
        content: "";
        display: block;
        clear: both;
        background-color: $g-20;
        position: absolute;
        z-index: -2;
        inset: 0 VW(-20);
      }
    }

    &-row {
      padding: VW(20) 0 VW(18);
      border-bottom: $g-50 VW(1) solid;
      position: relative;
      z-index: 2;

      &--nonavialable {
        color: $g-60;
        pointer-events: none;
        
        .link-anim {
          color: $c-black;
          opacity: 35%;
        }
      }

      .background {
        content: "";
        display: block;
        clear: both;
        transition: transform 0.3s $ease-in-out-expo, opacity 0.3s;
        background-color: $g-40;
        position: absolute;
        z-index: -1;
        inset: 0 VW(-20);
        // transform: scaleY(0);
        opacity: 0;
        transform-origin: top;
      }

      @include hover {
        .background {
          opacity: 1;
          transform: scaleY(1);
        }
      }
      .link-anim {
        width: fit-content;
      }
    }

    .bottom {
      padding: VW(20) 0;
      border-top: VW(1) solid $c-black;

      &-right {
        grid-column: 3/8;
      }
    }
  }
}
