.home {
  .about {
    position: relative;
    z-index: 1;
    margin-top: VW(20);

    @include forMobile {
      margin-top: VW(10, $mobile);
    }
  
    .top {
      .about {
        &__text {
          position: absolute;
          top: VW(7);
          width: VW(160);

          @include forMobile {
            top: VW(5, $mobile);
            width: VW(82, $mobile);
            font-size: VW(10, $mobile);
            line-height: 105%;
          }
        }
  
        &__title {
          text-indent: VW(246);
          
          @include forMobile {
            text-indent: VW(88, $mobile);
          }

          .wrapper:nth-of-type(1) {
            text-indent: VW(246);
          }
        } 
      }
    }
  
    .bottom {
      display: flex;

      .card {
        padding-left: VW(20);
        width: 100%;
        height: VW(300);
        display: flex;
        align-items: flex-end;
        position: relative;
        
        .line {
          position: absolute;
          top: 0;
          bottom: VW(15);
          left: 0;
          background-color: $c-black;
          width: VW(1);
        }
      }
    }
  }
}