.overview {
  background-color: $green-100;
  padding: VW(40) 0 VW(20);

  .title {
    position: relative;

    &__text {
      position: absolute;
      top: VW(7);
      width: VW(160);

      @include forMobile {
        top: VW(5, $mobile);
        width: VW(82, $mobile);
        font-size: VW(10, $mobile);
        line-height: 105%;
      }
    }

    &__title {
      text-indent: VW(246);

      @include forMobile {
        text-indent: VW(88, $mobile);
      }
    }
  }

  .interests {
    margin-top: VW(20);
    display: flex;
    justify-content: space-between;
    position: relative;

    .links {
      display: flex;
      flex-direction: column;
      gap: 0.4em;
      margin-top: 0.5em;
    }
    .link {
      padding: 0.45em 0.6em 0.3em;
      border: VW(1) solid $c-black;
      border-radius: 10vw;
      transition: background-color 0.3s ease, color 0.3s ease;

      &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.4em;

        @include hover {
          .link {
            background-color: $c-black;
            color: $green-100;
          }
          .hover-text {
            opacity: 0.4;
          }
        }

        &--active {
          .link {
            background-color: $c-black;
            color: $green-100;
          }
          .hover-text {
            opacity: 0.4 !important;
          }
        }

        .hover-text {
          opacity: 0;
          transition: opacity 0.3s ease;
        }
      }
    }

    &__list {
      width: 40%;
      position: sticky;
      top: VW(60);
      height: fit-content;
      margin-bottom: VW(50);
    }

    &__content {
      width: VW(920);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: VW(20);

      .image {
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;

        &__wrapper {
          position: relative;
          width: VW(920);
          height: VW(620);
          overflow: hidden;
        }
      }

      .map {
        width: 100%;
        height: VW(620);

      }
    }
  }
}
