.project-details {
  .details-section {
    padding-top: VW(20);
    padding-bottom: VW(10);
    margin: 0 VW(20) 5vw;
    border-bottom: VW(1) solid $c-black;
    position: sticky;
    top: VW(40);

    &__wrapper {
      height: VW(500);
      position: relative;
    }

    .address {
      grid-column: 1/4;
      display: flex;
      flex-direction: column;
      gap: 0.4em;

      &__link {
        display: flex;
        gap: 0.2em;

        opacity: 30%;
      }
    }

    .about {
      display: flex;
      justify-content: center;
      gap: VW(30);
      grid-column: 5/9;
    }

    .categories {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: .4em;
      margin-bottom: .4em;
      grid-column: 10/13;

      &__item {
        padding: .45em .6em .3em;
        background-color: #00000010;
        border-radius: 10vw;

        &--black {
          background-color: $c-black;
          color: $c-white;
        }
      }
    }

    .price {
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      transform: translateY(100%);
    }
}
}